.ui.container {
  height: 90vh;
  height: 635px;
}

.approve-div {
  border-radius: 20px;
  margin-top: 80px;
  background-color: #f9f6f6f9;
}

.approve-info {
  margin: 90px 0 60px 0;
  margin: 60px 0;
}

.check-img {
  margin-top: 60px;
  width: 110px;
  height: 110px;
  float: center;
}


h2 {
  margin-bottom: 90px;
}

h4 {
  margin: 0 auto;
  width: 250px;
  text-align: left;
}

h4:nth-child(2) {
  margin-bottom: 30px;

  margin-bottom: 60px;
}

h4:nth-child(odd) {
  color: #00b2b2;
}

.ui.button {
  margin-bottom: 60px;
}
