.pay-div {
  margin-bottom: 20px;
}

.kakaopay-btn {
  margin-top: 20px;
  margin-bottom: 60px;
  background: url("../../public/asset/kakaopay-btn.png") no-repeat;
  height: 130px;
  width: 201px;
  border: 0;
  float: right;
}
