.up-ta-div {
  height: 130px;
  width: 100%;
  border-bottom: 1px solid #e8e8e8;
}

.up-ta {
  width: 95%;
  height: 38px;
  resize: none;
  margin-left: 20px;
  position: relative;
  padding: 9px 12px;
  border: 1px solid #e8e8e8;
  background-color: #fff;
}

.up-ta:focus {
  outline: none;
}

.up-btn-div {
  text-align: right;
  margin-right: 22px;
}

.cancle-btn,
.ok-btn {
  padding: 0;
  width: 31px;
  border: none;
  font-size: 12px;
  color: rgba(111, 111, 111, 0.69);
  background-color: white;
}

.cancle-btn:hover,
.ok-btn:hover {
  cursor: pointer;
  border-bottom: 1px solid rgba(180, 180, 180, 0.807);
}
