.ct-div {
  height: 130px;
  width: 100%;
  border-bottom: 1px solid #e8e8e8;
}

.content {
  margin-top: 5px;
  margin-bottom: 20px;
  margin-left: 20px;
  font-size: 13px;
  text-align: left;
}

.ct-btn-div {
  text-align: right;
  margin-right: 22px;
}

.ct-update-btn,
.ct-delete-btn {
  padding: 0;
  width: 31px;
  border: none;
  font-size: 12px;
  color: rgba(111, 111, 111, 0.69);
  background-color: white;
}

.ct-update-btn:hover,
.ct-delete-btn:hover {
  cursor: pointer;
  border-bottom: 1px solid rgba(180, 180, 180, 0.807);
}
